*{
    border:1px solid black;
}
body{
    background-color: orange;
}
#logo{
    width: 150px;
    height: 100px;
}
header{
    display: flex;
    justify-content: space-between;
}
header h3{
    font-family: sans-serif;
    font-size: 40px;
}
.principal{
    display: flex;
}
.principal aside{
    width: 30%;
}